body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:rgb(218,207,185);
    padding: 0;
}

.border{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 40px;
    border: 4px solid #000;
    background-color: #d0e2f0;
    border-radius: 25px; 
    padding-top: 10px;
    background-image: url(../images/bg.jpg);
}

h1{
    color: #000;
    text-align: left;
   margin-left: -255px;
}

h1.text{
    font-size: 40px;
    font-family: 'Honeypirls Regular', sans-serif;
}

.header{
    text-align: center;
    width: fit-content;
    margin: 10px auto 10px auto;
}

p.intro{
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto 20px auto;
    margin-left: -255px;
    text-align: left;
    letter-spacing: 1px;
}

h2{
    padding: 10px;
}

ul{
    margin-left: -240px;
}

li {
    list-style-type: disc;
    line-height: 1.6em;
    text-align: left;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
}

table {
    width: 100%;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    max-height: 20%;
}
        
th, td {
    text-align: left;
    background-color: #d2b390;
    border-top: 1px solid #cabcab;
    border-bottom: 1px solid #c6b49f;
    border-right: 1px solid #d2b390;
}

tr.head th {
    color: #fff;
    background-color: #b18859;
    border-bottom: 2px solid rgb(192, 152, 52);
    border-right: 1px solid rgb(188,155,77);
    border-top: 1px solid #b18859;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #e2c9ad;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    margin-left: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

legend {
    font-style: italic;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,
select:focus,
input[type="radio"]:checked {
    border-color: #009966;
}

input[type="submit"] {
    background-color: #009966;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #00CC33;
}

.title {
    font-family: 'Open Sans', sans-serif;
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    margin-left: 280px;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }
    h1 {
        font-size: 24px;
    }
    p.intro {
        font-size: 18px;
    }
    table {
        font-size: 80%;
    }
    th, td {
        padding: 3px 10px;
    }
    input[type="text"] {
        width: 100%;
    }
    .title {
        float: none;
        width: auto;
        clear: none;
    }
    .submit {
        width: auto;
        text-align: left;
    }
}
